---
import SiteNav from "@components/SiteNav.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { Picture } from 'astro:assets';
import imgEnvelope from "../assets/ia-step3-env.webp";
import imgLetter from "../assets/ia-step3-ltr.webp";
const page = {
  navTitle: "Home",
  heroTitle: "Advocating for UAP Disclosure",
  heroSubtitle: "We are our governments",
};
---

<PageLayout page={page}>
  <!-- Hero -->
  <style>
    /* Responsive styling */
    @media only screen and (max-width: 480px) {
      .hero {
        background-image: url("../assets/hero20-sm.webp");
      }
      .hero h1 {
        font-size: 2rem;
      }
      .hero p {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .hero {
        background-image: url("../assets/hero20-md.webp");
      }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      .hero {
        background-image: url("../assets/hero20-lg.webp");
      }
    }
    @media only screen and (min-width: 1025px) {
      .hero {
        background-image: url("../assets/hero20-xl.webp");
      }
    }

  </style>

  <div class="hero" data-theme="dark">
    <SiteNav/>
    <header class="container">
      <h1>{page.heroTitle}</h1>
      <p>{page.heroSubtitle}</p>
    </header>
  </div>

  <!-- Main Content -->
  <main class="container main-content grid">
    <section>
      <h3>Letter Writing</h3>
      <p>2,383 total letters sent</p>
      <p>
        Every three months, we send "Interstellar Alliance Social Experiment: Step Three" physical letters to U.S. military, scientific, and political leaders, requesting public disclosure of UAPs and indications of extraterrestrial life and technologies.
      </p>

      <h3>Efficient, economical, and motivated</h3>
      <ul>
        <li>We mail at economical postal rates offered to nonprofits.</li>
        <li>We write our own software to collect addresses, generate letters, and generate envelopes.</li>
        <li>We presort mailpieces for postal discounts.</li>
        <li>We buy paper and envelopes in bulk at economical business rates.</li>
        <li>We print, stuff, and drive letters to a post office.</li>
      </ul>

      <h3>We amplify letter writing</h3>
      <p>One dollar offered through UAP Awareness sends more letters than one person could at retail prices.</p>
      <p><a href="/donate" class="cta-link">Empower this loving mission with an offering.</a></p>

      <figure>
        <figcaption>Here's an envelope sent from a recent campaign.</figcaption>
        <Picture src={imgEnvelope} widths={[480, 768, 1024, 1080]} formats={['webp']} alt="Envelope from a campaign" />
      </figure>

      <figure>
        <figcaption>Here's a letter sent from a recent campaign.</figcaption>
        <Picture src={imgLetter} widths={[480, 768, 1024, 1080]} formats={['webp']} alt="Letter from a campaign" />
      </figure>
    </section>

    <aside>
      <article>
        <header>Letters Sent</header>
        <ul>
          <li><kbd>2,383</kbd> <i>total letters</i></li>
          <li><kbd>29</kbd> to <i>U.S. military leaders</i></li>
          <li><kbd>452</kbd> to <i>U.S. scientific leaders</i></li>
          <li><kbd>1,902</kbd> to <i>U.S. political leaders</i></li>
        </ul>
      </article>

      <article>
        <header>Military Leaders Reached</header>
        <ul>
          <li>All U.S. Joint Chiefs of Staff</li>
          <li>U.S. Pentagon leaders</li>
          <li>U.S. Office of Naval Intelligence leaders</li>
          <li>U.S. Fleet Forces Command leaders</li>
        </ul>
      </article>

      <article>
        <header>Scientific Leaders Reached</header>
        <ul>
          <li>NASA administrative leaders</li>
          <li>NASA scientific leaders</li>
        </ul>
      </article>

      <article>
        <header>Political Leaders Reached</header>
        <ul>
          <li><kbd>439</kbd> U.S. House of Representatives members</li>
          <li><kbd>100</kbd> U.S. Senators</li>
          <li><kbd>55</kbd> U.S. state and territory governors</li>
          <li>The U.S. Secretary of State</li>
          <li>The U.S. Vice President</li>
          <li>The U.S. President</li>
        </ul>
      </article>
    </aside>
  </main>
</PageLayout>
